@model IEnumerable<_4Task.Models.Pilot>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Пилоты</title>
</head>
<body>
    <h3>Пилоты</h3>
    <table>
        <tr>
            <td>Имя</td>
        </tr>
        @foreach (var pilot in Model)
        {
            <tr>
                <td>@pilot.name</td>
                <td>
                    <button>
                        <a href="~/Home/Details/@pilot.id">Детали</a>
                    </button>
                </td>
                <td>
                    <button>
                        <a href="~/Home/Edit_pilot/@pilot.id">Изменить</a>
                    </button>
                </td>
                <td>
                    <button>
                        <a href="~/Home/Delete_pilot/@pilot.id">Удалить</a>
                    </button>
                </td>
            </tr>
            }
        <tr>
            <td>
            <button>
                <a href="~/Home/Create_pilot">Добавить</a>
            </button>
            </td>
        </tr>
    </table>
</body>
</html>