@model IEnumerable<_4Task.Models.City>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Города</title>
</head>
<body>
    <h3>Города</h3>
    <form asp-controller="Home" asp-action="Index">
        <p>
            <input type="text" name="SearchString">
            <input type="submit" value="Поиск" />
        </p>
    </form>
    <p>
        <a asp-action="Create">Добавить</a>
    </p>
    <table>
        <tr>
            <td>Название</td>
        </tr>
        @foreach (var city in Model)
        {
            <tr>
                <td>@city.name</td>
                <td>
                    <button>
                        <a href="~/Home/Edit/@city.id">Изменить</a>
                    </button>
                </td>
                <td>
                    <button>
                        <a href="~/Home/Delete/@city.id">Удалить</a>
                    </button>
                </td>
            </tr>
        }
    </table>
</body>
</html>